<!-- <input matInput placeholder="Just a placeholder" type="text" [(ng-model)]='search' /> -->
 <mat-card class="example-card news-container"
  *ngFor="let card of (newsCards | filter: search:title)">
    <mat-card-header>
      <mat-card-title>{{ card.title }}</mat-card-title>
    </mat-card-header>
    <a [href]="card.url">
      <img class="card-image" mat-card-image [src]='card.urlToImage'>
    </a>
    <mat-card-content>
      <p>
        {{card.description}}
      </p>
    </mat-card-content>
  </mat-card>

